@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: var(--title-font);
    font-size: 3.6rem;
    color: #eae2e2;
    margin: 3rem 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-font: 'Source Code Pro', monospace;
}